//- +button({ color: "primary" })

mixin button(obj)
  - const { type, color, size, disabled, href, openInNewTab } = obj;
  - const buttonClass = "btn" + (color ? " btn-" + color : "") + (size ? " btn-" + size : "");

  if type === "submit" || type === "button"
    button(class=buttonClass type=`${type}` disabled=disabled ? true : false)&attributes(attributes)
      block
  else
    a(
      aria-disabled=disabled ? "true" : false
      class=buttonClass + (disabled ? " disabled" : "")
      href=href ? href : "#"
      target=openInNewTab ? "_blank" : false
      tabindex=disabled ? -1 : false)&attributes(attributes)
      block
