//- +checkbox({id: "subscribe"}) Subscribe

mixin checkbox(obj)
  if (obj.id)
    .form-check&attributes(attributes)
      input.form-check-input(
        id=obj.id
        type="checkbox"
        checked=obj.checked ? true : false
        disabled=obj.disabled ? true : false)
      label.form-check-label(for=obj.id)
        block
