//- +img({img: "img/image.jpg"})

mixin img(obj)
  - const { img, alt, width, height, lazy } = obj;
  - const placeholderImg = "img/lazy-placeholder.png";
  - const withLazyLoad = lazy !== false;

  if img
    img(
      class=withLazyLoad ? "lazy js-lazy" : false
      src=withLazyLoad ? placeholderImg : img
      alt=alt ? alt : "Image"
      data-src=withLazyLoad ? img : false
      width=width ? width : false
      height=height ? height : false
      style=width && height ? "aspect-ratio: " + width + "/" + height : false)&attributes(attributes)
