//- +input({label: "Name", placeholder: "Name"})

mixin inputItem(obj)
  - const { name, type, required, minlength, placeholder, value, disabled, size, invalidFeedback } = obj;

  input(
    class="form-control" + (invalidFeedback ? " is-invalid" : "") + (size ? " form-control-" + size : "")
    name=name ? name : "input"
    type=type ? type : "text"
    required=required ? true : false
    minlength=minlength ? minlength : false
    placeholder=placeholder ? placeholder : false
    value=value ? value : false
    disabled=disabled ? true : false)&attributes(attributes)
  if invalidFeedback
    .invalid-feedback= invalidFeedback

mixin input(obj)
  - const { label, labelColor } = obj;

  if label
    label.d-inline.w-100
      span(class="form-label" + (labelColor ? " text-" + labelColor : ""))= label
      +inputItem(obj)&attributes(attributes)
  else
    +inputItem(obj)&attributes(attributes)
