//- +input({label: "Name", placeholder: "Name"})

mixin input(obj)
  - const inputId = obj.label ? obj.label.replace(/ \*/g, "").replace(/\s+/g, "-").toLowerCase() : false;
  - const inputClass = "form-control" + (obj.invalidFeedback ? " is-invalid" : "");

  if (obj.label)
    label(class="form-label" + (obj.labelColor ? " text-" + obj.labelColor : "") for=inputId)= obj.label
  input(
    class=inputClass
    id=inputId
    name=obj.name ? obj.name : false
    type=obj.type ? obj.type : "text"
    required=obj.required ? obj.required : false
    minlength=obj.minLength ? obj.minLength : false
    placeholder=obj.placeholder ? obj.placeholder : false
    value=obj.value ? obj.value : false
    disabled=obj.disabled ? obj.disabled : false)&attributes(attributes)
  if (obj.invalidFeedback)
    .invalid-feedback= obj.invalidFeedback
