//- +select({ label: "Country", placeholder: "Select country", options: ["Option 1", "Option 2", "Option 3"] })

mixin selectItem(obj)
  - const { name, placeholder, required, disabled, multiple, options, selectedOption, withSearch, invalidFeedback, native } = obj;
  - const isNativeSelect = native === true;
  - const selectClass = "form-select" + (isNativeSelect ? "" : " js-select") + (invalidFeedback ? " is-invalid" : "");

  select(
    class=selectClass
    name=name ? name : "select"
    data-minimum-results-for-search=withSearch && !isNativeSelect ? "" : isNativeSelect ? false : "-1"
    data-placeholder=placeholder && !isNativeSelect ? placeholder : false
    required=required ? "true" : false
    disabled=disabled ? "true" : false
    multiple=multiple ? "true" : false)&attributes(attributes)
    if placeholder && !multiple
      option(label=placeholder)
    each option, i in options
      option(selected=selectedOption - 1 === i ? true : false)= option
  if invalidFeedback
    .invalid-feedback= invalidFeedback

mixin select(obj)
  - const { options, label, labelColor, withContainer } = obj;

  if options
    if label
      label.d-inline.w-100
        span(class="form-label" + (labelColor ? " text-" + labelColor : ""))= label
        if withContainer
          .js-select-container
            +selectItem(obj)&attributes(attributes)
        else
          +selectItem(obj)&attributes(attributes)
    else
      +selectItem(obj)&attributes(attributes)
