//- +textarea({label: "Message", placeholder: "Message"})

mixin textarea(obj)
  - const textareaId = obj.label ? obj.label.replace(/ \*/g, "").replace(/\s+/g, "-").toLowerCase() : false;
  - const textareaClass = "form-control" + (obj.invalidFeedback ? " is-invalid" : "");

  if (obj.label)
    label(class="form-label" + (obj.labelColor ? " text-" + obj.labelColor : "") for=textareaId)= obj.label
  textarea(
    class=textareaClass
    id=textareaId
    name=obj.name
    required=obj.required ? obj.required : false
    minlength=obj.minLength ? obj.minLength : false
    placeholder=obj.placeholder ? obj.placeholder : false
    disabled=obj.disabled ? obj.disabled : false)&attributes(attributes)
    | #{ obj.value }
  if (obj.invalidFeedback)
    .invalid-feedback= obj.invalidFeedback
