//- +textarea({label: "Message", placeholder: "Message"})

mixin textareaItem(obj)
  - const { name, required, minlength, placeholder, value, disabled, size, invalidFeedback } = obj;

  textarea(
    class="form-control" + (invalidFeedback ? " is-invalid" : "") + (size ? " form-control-" + size : "")
    name=name
    required=required ? true : false
    minlength=minlength ? minlength : false
    placeholder=placeholder ? placeholder : false
    disabled=disabled ? true : false)&attributes(attributes)
    | #{ value }
  if invalidFeedback
    .invalid-feedback= invalidFeedback

mixin textarea(obj)
  - const { label, labelColor } = obj;

  if label
    label.d-inline.w-100
      span(class="form-label" + (labelColor ? " text-" + labelColor : ""))= label
      +textareaItem(obj)&attributes(attributes)
  else
    +textareaItem(obj)&attributes(attributes)
